#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work, Organized, always.
		%button= link_to "Enter", new_user_registration_path


#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p You probably haven't heard of them crucifix leggings, disrupt organic polaroid PBR&B meggings shabby chic hoodie brooklyn flexitarian. Fanny pack cornhole offal, seitan health goth helvetica echo park butcher gluten-free etsy biodiesel four dollar toast.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path
